# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/mwender_photoblog_enhancements/
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/themes/hello-elementor/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*
web/.valetrc

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example
*.sublime-*

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml
